*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika Negative', sans-serif;
}
.div__wrp{
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.menubar{
    background-color: rgb(236, 230, 230);
    height: 100vh;
    width: 20%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    
    
    /* align-items: center; */
}
.header{
    /* background-color: whitesmoke; */
    width: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(48, 47, 79);
    margin-top: 25px;
    padding-left: 30px;

}
.header i{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 50px;
    border:  2px solid;
    padding: 5px 10px;
   
  
}
.options{
    /* background-color: whitesmoke; */
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;


  
}
.options a{
    /* background-color: rgb(107, 102, 102); */
    color: rgb(48, 47, 79);
    text-decoration: none;
    font-size: 20px;
    padding: 30px 10px;
    padding-left: 30px;
    width: 100%;
    height: 15%;
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.options i{
    font-size: 20px;
}
#active{
    background-color: rgb(172, 172, 174);
    border-right: 5px solid rgb(48, 47, 79);
}
.options a:hover{
    color: rgb(115, 115, 146);
    transition: 0.3s;
}
.set__log{

    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
}
.set__log i{
    font-size: 20px;
}
.set__log a{
    color: rgb(48, 47, 79);
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding-left: 30px;
}
.set__log a:hover{
    color: rgb(115, 115, 146);
    transition: 0.3s;
}
.main{
    /* background-color: red; */
    width: 90%;
    height: 100%;
 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding: 0 5px;

}

.img{
    height: 350px;
    width: 350px;

}

.img img{
    height: 100%;
    width: 100%;
}
.main h2 {
    color: rgb(48, 47, 79);
    font-size: 35px;
}

.access{
    height: 80px;
    width: 70%;
    background-color: honeydew;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.wardmails{
    height: 150px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.wardmail{
    height: 100px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.wardmail input{
    outline: none;
    padding: 5px 30px;
    border: 1px solid rgb(48, 47, 79);
}
.wardmail input:focus{
    border: 2px solid rgb(48, 47, 79);
}
.red{
    color: red;
    font-size: 14px;
    display: none;
}
.edit{
    height: 100px;
    width: 40%;
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.edit a{
    padding: 10px 30px;
    font-size: 15px;
    font-family: 'Signika Negative', sans-serif;
    border: none;
    background-color: rgb(48, 47, 79);
    color: white;
    text-decoration: none;
}
.edit a:nth-child(2){
    padding: 9px 40px;
    border: 1px solid rgb(48, 47, 79);
    background-color: white;
    color: rgb(48, 47, 79);
}

@media (max-width: 500px) {
    .kids{
        display: none;
    }
    .div__wrp{
        height: 100vh;
    }
    .menubar{
        height: 105vh;
    }

    .header{
        padding-left: 10px;
    }
    .header i{
        font-size: 15px;
        padding: 5px 8px;
    }
    h1{
        font-size: 18px;
        margin-top: 10px;
    }
   .options a{
    font-size: 10px;
    padding: 5px;
    height: 10%;
   }
   .options i{
    font-size: 10px;
   }
    
   .set__log{
    height: 15%;
    justify-content: center;
   }
   .set__log a{
    font-size: 10px;
    padding: 5px;
   }
   .set__log i{
    font-size: 10px;
   }

   .img{
    height: 220px;
    width: 220px;
   }
   .main h2{
    font-size: 18px;
   }
   .access{
    width: 80%;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
   }
   .access p:nth-child(1){
    line-height: 15px;
   }
   .wardmails{
     width: 90%;
     height: 200px;
     flex-direction: column;
    
   }
   .wardmail{
    width: 100%;
    
   }
   .edit{
    height: 150px;
    width: 100%;
   }
   .edit button{
    padding: 10px 20px;
   }
   .edit button:nth-child(2){
    padding: 9px 30px;
 }


}

@media (min-width: 1200px) {
    .kids{
        display: none;
    }
    .div__wrp{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 100vh;
    
    
    }
    
    .menubar{
        background-color: rgb(236, 230, 230);
        height: 100vh;
        width: 20%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        top: 0;
        
        
        /* align-items: center; */
    }
    .header{
        /* background-color: whitesmoke; */
        width: 90%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: rgb(48, 47, 79);
        margin-top: 25px;
        padding-left: 30px;
    
    }
    .header i{
        font-size: 30px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 50px;
        border:  2px solid;
        padding: 5px 10px;
       
      
    }
    .options{
        /* background-color: whitesmoke; */
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    
    
      
    }
    .options a{
        /* background-color: rgb(107, 102, 102); */
        color: rgb(48, 47, 79);
        text-decoration: none;
        font-size: 20px;
        padding: 30px 10px;
        padding-left: 30px;
        width: 100%;
        height: 15%;
        display: flex;
        column-gap: 5px;
        align-items: center;
    }
    .options i{
        font-size: 20px;
    }
    #active{
        background-color: rgb(172, 172, 174);
        border-right: 5px solid rgb(48, 47, 79);
    }
    .options a:hover{
        color: rgb(115, 115, 146);
        transition: 0.3s;
    }
    .set__log{
    
        width: 90%;
        height: 20%;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-evenly;
    }
    .set__log i{
        font-size: 20px;
    }
    .set__log a{
        color: rgb(48, 47, 79);
        text-decoration: none;
        font-size: 20px;
        padding: 10px 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding-left: 30px;
    }
    .set__log a:hover{
        color: rgb(115, 115, 146);
        transition: 0.3s;
    }
    .main{
        /* background-color: red; */
        width: 80%;
        height: 100%;
     
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        /* flex-wrap: wrap; */
        padding: 0 5px;
    
    }
    
    .img{
        height: 220px;
        width: 22q0px;
    
    }
    
    .img img{
        height: 100%;
        width: 100%;
    }
    .main h2 {
        color: rgb(48, 47, 79);
        font-size: 35px;
    }
    
    .access{
        height: 80px;
        width: 70%;
        background-color: honeydew;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    .wardmails{
        height: 150px;
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .wardmail{
        height: 100px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .wardmail input{
        outline: none;
        padding: 5px 30px;
        border: 1px solid rgb(48, 47, 79);
    }
    .wardmail input:focus{
        border: 2px solid rgb(48, 47, 79);
    }
    .red{
        color: red;
        font-size: 14px;
        display: none;
    }
    .edit{
        height: 100px;
        width: 40%;
     
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
    }
    
    .edit a{
        padding: 10px 30px;
        font-size: 15px;
        font-family: 'Signika Negative', sans-serif;
        border: none;
        background-color: rgb(48, 47, 79);
        color: white;
    }
    .edit a:nth-child(2){
        padding: 9px 40px;
        border: 1px solid rgb(48, 47, 79);
        background-color: white;
        color: rgb(48, 47, 79);
    }
    
}

@media (min-width: 600px) {
    .div__wrp{
    
        height: 100vh;
        
    }
    .menubar{
        width: 20%;
    }
    .main{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        height: 100%;
        width: 80%;
    }

    .img{
        height: 500px;
        width: 500px;
    }
    .access{
        width: 80%;
        font-size: 15px;
        text-align: center;
        margin-top: 10px;
    }

    .wardmails{
        width: 100%;
        height: 200px;
        flex-direction: row; 
      }
}